{% extends 'base.html.twig' %}

{% block title %}Liste des articles
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="row">
					<h1 class="text-center ml-3 mt-5">Liste des articles</h1>
				</div>
				<div class="row">
					{% for article in articles %}
						<div class="card col-md-5 m-3">
							<img src="{{asset('images/blog/'~article.image )}}" class="card-img-top" alt="{{article.title}}">

							<div class="card-body">
								<p class="date">Ecrit le
									{{article.createdAt | date("d/m/Y")}}
									à
									{{article.createdAt | date("H:i")}}
									<br/>
									Par
									{{article.author}}
								</p>
								<h5 class="card-title">{{article.title}}</h5>
								<a href="{{path('show', {id : article.id})}}" class="btn btn-primary">Lire >></a>
							</div>
						</div>
					{% endfor %}
					<div class="ml-3">
						{{ knp_pagination_render(articles, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig')  }}
					</div>
				</div>
			</div>

			<aside class="col-md-4">
				<div class="row">
					<h2 class="h1 mb-4 mt-5">Categories</h2>
				</div>
				<div class="row">
					<ul class="list-group">
						{% for category in categories %}
							<li class="list-group-item">
								<a href="{{path('show_articles', {id : category.id})}}">
									{{category.title}}
									<span class="badge badge-danger">
										{{category.articles | length}}
									</span>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
			</aside>


		</div>
	{% endblock %}
