{% extends 'base.html.twig' %}

{% block title %}Liste des articles
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 class="text-center">Liste des articles</h1>
		</div>
		<div class="row">
			{% for article in articles %}
				<div class="card col-md-3 m-4">
<img src="images/blog/{{article.image}}" class="card-img-top" alt="{{article.title}}">

					<div class="card-body">
						<p class="date">Ecrit le
							{{article.createdAt | date("d/m/Y")}}
							à
							{{article.createdAt | date("H:i")}}
							<br/>
                            Par {{article.author}}
						</p>
						<h5 class="card-title">{{article.title}}</h5>
						<a href="{{path('show', {id : article.id})}}" class="btn btn-primary">Lire >></a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
